body {
  background-color: #2d0d60;
  color: #ded9f9;
}

a {
  color: #8870af;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  text-align: center;
}