body {
  background-color: #2d0d60;
  color: #ded9f9;
}

a {
  color: #DED9F9;
  text-decoration: none;
}

.App a:hover {
  color: #46267C;
}

.App h1 {
  font-family: 'Lemon', cursive;
  font-weight: bold;
  font-size: 64px;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  text-align: center;
}