.Dictionary section {
    background: #46267c;
    padding: 30px;
    border-radius:  10px;
    box-shadow: 0px 5px 15px rgba(0 0 0 /10%);
    margin: 20px 0;
}

.Dictionary input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 7px;
}

.Dictionary h4 {
  margin-bottom: 10px;  
}